html{

	min-height: 590px;
}

body{
	height: 100%;
	margin: 0;
	min-width: 280px;
	background: rgb(30,30,34);
	background: linear-gradient(90deg, rgba(30,30,34,1) 0%, rgba(31,11,0,1) 100%);	background-size: cover;
	display: flex;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
}

.page{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

}



.nav-bar{
	width: 100%;
	height: 40px;
	background-color:  rgba(36, 36, 39, 0.6);
	display: flex;
	align-items: center;
}

.nav-title{
	margin-left: 8px;
	color: white;
}

#link-home{
	text-decoration: none;
}

#link-bonifico{
	margin-left: auto;
    margin-right: 35px;
	text-decoration: none;
	color: white;
}

#span-bonifico{
	color: white;
}

#link-logout{
	color: white;
	text-decoration: none;
	margin-right: 15px;
}

#username{
	color: white;
	margin-top: 20px;
}

.div-saldo-container{
	height: 160px;
	width: 80%;
	max-width: 720px;
	display: flex;
	background-color: rgba(36, 36, 39, 0.6);
	border-radius: 8px;
	justify-content: center;
    flex-direction: column;
    align-items: center;
	margin-top: 20px;
	box-shadow: 3px 3px 8px rgb(0,0,0, 0.3);
}

.div-saldo-count{
	height: 120px;
	width: 80%;
	display: flex;
	background-color: light-green;
	flex-direction: column;
	justify-content: center;
}

#text-saldo-disp{
	margin-bottom: 10px;
    text-align: center;
    color: whitesmoke;
}

.saldo-disp{
	font-family: number_font;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: xxx-large;
	
	color: whitesmoke;
	font-family: 'Raleway', sans-serif;
	margin-bottom: auto;
}

#text-saldo-cont{
	text-align: center;
	color: whitesmoke;
}

.saldo-cont{
	text-align: center;
	font-size: large;
	font-weight: bolder;
	color: whitesmoke;
}


.filler-space{
	width: 80%;
	max-width: 720px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btn-prezzo-cre-desc{
	width: 15px;
	height: 15px;
	margin-left: auto;
	margin-top: 20px;
	margin-right: 10px;
}


.div-transaction{
	margin-top: 20px;
	width: 80%;
	max-width: 720px;
	height: 60px;
	border-radius: 8px;
	background-color: rgba(36, 36, 39, 0.6);
	box-shadow: 3px 3px 8px rgb(0,0,0, 0.3);
	display: flex;
	flex-direction: row;
}

.div-transaction:hover{
	border-color: cornflowerblue;
    box-shadow: 0 0 5px cornflowerblue;
}

.div-name-date{
	margin-left: 20px;	
	display: flex;
	flex-direction: column;
}


.name-transaction{
	color: whitesmoke;
	margin-top: 15px;
}

.value-transaction{
	margin-top: 20px;
	margin-left: auto;
	margin-right: 20px;
}

.date-transaction{
	padding-top: 5px;
	font-size: small;
	color: whitesmoke;
}

