<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <nav class="nav-bar">
        <a id="link-admin" href="/admin">
            <span class="nav-title">
                Admin
            </span>
        </a>
    </nav>
    <form method="post">
    <div class="page">

        <span id="span-users">
            Utenti
        </span>
        {% for user in users %}
        <div class="users">
            <span id="span-username">{{user.username}}</span>
            <span id="span-saldo-disponibile">- saldo disponibile: {{user.conto.saldo.saldo_disponibile}}$</span>
            <div class="div-buttons">
                <button type="submit" id="btn-actions" name="action" value="invia-denaro">Invia denaro</button>
                <button type="submit" id="btn-actions" name="svuota-saldo" value="{{user.id_user}}">Svuota saldo</button>
                <button type="submit" id="btn-actions" name="elimina-utente" value="{{user.id_user}}">Elimina utente</button>
            </button>
            </div>

        </div>

        {% endfor %}
    </div>
    </form>
</body>

</html>
