<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <nav class="nav-bar">
        <a id="link-admin" href="/admin">
            <span class="nav-title">
                Admin
            </span>
        </a>

        <a id="link-logout" href="/logout">
            <span id="span-logout">
                Logout
            </span>
        </a>


    </nav>
    <div class="page">

        <span id="span-users">
            Utenti
        </span>
        {% for user in users %}
        <div class="users">
            <span id="span-username">{{user.username}}</span>
            <span id="span-saldo-disponibile">- saldo disponibile: {{user.conto.saldo.saldo_disponibile}}€</span>
            
            <div class="div-buttons">
                <form action="/admin/invia_denaro/{{ user.id_user }}" method="post">
                    <button type="submit" id="btn-actions">Invia denaro</button>
                </form>

                <form action="/admin/invia_denaro{{ user.id_user }}" method="post">
                    <button type="submit" id="btn-actions">Svuota saldo</button>
                </form>

            </div>

        </div>
        {% endfor %}

    </div>
</body>

</html>
