<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <nav class="nav-bar">
        <a id="link-home" href="/home">
            <span class="nav-title">
                HomeBanking
            </span>
        </a>
        <a id="link-bonifico" href="/bonifico">
            <span id="span-bonifico">
                Bonifico Istantaneo
            </span>
        </a>

        <a id="link-logout" href="/logout">
            <span id="span-logout">
                Logout
            </span>
        </a>

    </nav>
    <div class="page">
        <span id="username"> {{ username }} </span>

        <div class="div-saldo-container">
            <div class="div-saldo-count">
                <span id="text-saldo-disp"> Saldo disponibile:</span>
                <span class="saldo-disp">
                    {{ saldo.saldo_disponibile }}€
                </span>

                <span id="text-saldo-cont"> Saldo contabile: <span class="saldo-cont"> {{ saldo.saldo_contabile
                        }}€</span></span>
            </div>
        </div>

        <div class="filler-space">

        </div>

        {% for transazione in transazioni %}

        <div class="div-transaction">
            <div class="div-name-date">
                <span class="name-transaction">{{ transazione.user_mittente }}</span>

                <span class="date-transaction">{{ transazione.data }}</span>
            </div>
            {% if transazione.importo > 0 %}
            <span class="value-transaction" style="color: lime;">+{{ transazione.importo }}$</span>
            {% elif transazione.importo < 0 %} <span class="value-transaction" style="color: red;">{{
                transazione.importo }}$</span>
                {% endif %}
        </div>
        {% endfor %}
    </div>

    <!--<script src="static/home.js"></script>--> 

</body>

</html>